$cero: cero;
$none:none;
$pequeño:(min-width: 767.98px);
$mediano:(min-width: 991.98px);
$grande:(min-width: 1199.98px);
$diplomata: 'Diplomata', 'Impact', Sans-serif;
$indi: "Ind Siligur", Arial, Sans-serif;
$left:left;
$cienporciento:100%;
$black:#000;
$nickel:#708090;


